main{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 25%;
}

.card1{
    height: 400px;
    width: 300px;
    position: absolute;
    left: 10%;
    background-color: black;
    /* transform: translate(-50%, -50%);  */
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
}

.card1:hover .card-front{
   transform: rotateX(-180deg)
}

.card1:hover .card-back{
    transform: rotateX(0deg)
} 

.card-front{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/assets/img/illaRoja.jpg); 
    background-position: 50%;
    background-size: cover;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: .5s;
}


.card-back{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: .5s;
    color: #ffffff;
    text-align: center;
} 



h2{
    margin: 60% auto 35% auto;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2:hover{
    transform: scale(1.3);
}

button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightslategray;
    box-shadow: 10px lightsteelblue;
    color: white;
    text-shadow: 3px whitesmoke;
}

button:hover{
    cursor: pointer;
    background-color: lightsteelblue;
}

.card2{
    height: 400px;
    width: 300px;
    background-color: black;
    margin-left: 2em;
}

.card3{
    height: 400px;
    width: 300px;
    background-color: black;
    margin-left: 2em;
}

.card4{
    height: 400px;
    width: 300px;
    background-color: black;
    margin-left: 2em;
}