body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "";
    display: flex;
}


/* focus */

.input1{
    margin-top: 2em; 
    margin-left: 10em;
    border-radius:50%;
    width:40px;
    cursor:pointer;
    height:40px;
    background-color:white;
    outline:none;
    background-image:url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-256.png");
    background-size:30px;
    background-position:center;
    font-size:18px;
    color:grey;
    background-repeat:no-repeat;
    border:1px solid grey;
    transition-property:width, border-radius, background-position, padding-left;        /*  valores a  transformar */
    transition-duration:0.5s;
    
  }
  .input1:focus{
    /*transformar*/
    width:330px;
    border-radius:5px;
    cursor:text;
    padding-left:40px;
    padding-right:20px;
    background-position:5px;

  }

  /* *********************************** */

  .send-message {
    position: absolute;
    top: 20em;
    left: 20em;
    transform: translate(-50%, -50%);  
}

    span {
      display: block;
      margin: 5px;
      color: #ff3d3d;
      font-weight: 600;
    }
    input {
      border: none;
      border-bottom: 2px solid #ff3d3d;
      width: 250px;
      height: 30px;
      outline: none;
      transition: background-color .5s linear;
      color: #fff;
    }
    input:focus,
    input:valid
    {
      background-color: #ff3d3d;
    }
    textarea {
      border: 2px solid #ff3d3d;
      min-width: 250px;
      min-height: 150px;
      max-width: 250px;
      max-height: 250px;
      outline: none;
      transition: background-color .5s linear;
      color: #fff;
    }
    textarea:focus,
    textarea:valid 
    {
      background-color: #ff3d3d; 
    }

/* *********************************** */

.neonShadow{
  width: 150px;
  height: 70px;
  margin-left: 50em;
  margin-top: 20em;
  border:none;
  border-radius:50px;
  transition:0.3s;
  animation: glow 1s infinite;
  transition:0.5s;
}

.neonShadow:hover{
  transform:translateX(-20px)rotate(30deg);
  border-radius:5px;
  background-color:#c3bacc;
  transition:0.5s;
}

@keyframes glow{
  0%{
  box-shadow: 5px 5px 20px #ff3d3d,-5px -5px 20px #ff3d3d;}
  
  50%{
  box-shadow: 5px 5px 20px #eca1a1,-5px -5px 20px #eca1a1;}

  100%{
  box-shadow: 5px 5px 20px #a06666,-5px -5px 20px #a06666;}
}

.span1{
  display: block;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding-top: 15%;
  padding-right: 2.5%;
  margin-right: 0px;
  font-size: 1.2rem;
  transition: 0.3s;
  opacity: 0;
}

.span1:hover{
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
}


